In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

In [47]:
ithaca_data = pd.read_csv('datasets/hourly_ithaca_weather.csv').dropna()

In [48]:
ithaca_data.head()

,datetime (UTC),"coordinates (lat,lon)",model (name),model elevation (surface),utc_offset (hrs),temperature (degC),dewpoint_temperature (degC),relative_humidity (0-1),wind_speed (m/s),total_cloud_cover (0-1),total_precipitation (mm of water equivalent)
0,2005-01-01 00:00:00,"(42.439604, -76.496802)",era5,368.22,-5.0,9.63,6.49,0.81,5.00,0.83,0.01
1,2005-01-01 01:00:00,"(42.439604, -76.496802)",era5,368.22,-5.0,9.47,6.63,0.82,4.98,0.93,0.01
2,2005-01-01 02:00:00,"(42.439604, -76.496802)",era5,368.22,-5.0,9.59,6.76,0.83,5.28,0.90,0.00
3,2005-01-01 03:00:00,"(42.439604, -76.496802)",era5,368.22,-5.0,9.57,6.17,0.79,5.53,0.76,0.00
4,2005-01-01 04:00:00,"(42.439604, -76.496802)",era5,368.22,-5.0,9.52,6.47,0.81,5.44,0.57,0.00

In [49]:
ithaca_data = ithaca_data.rename(columns={'datetime (UTC)': 'datetime',
                                          'temperature (degC)': 'temperature',
                                          'dewpoint_temperature (degC)': 'dewpoint_temperature',
                                          'relative_humidity (0-1)': 'relative_humidity',
                                          'total_cloud_cover (0-1)': 'cloud_cover',
                                          'total_precipitation (mm of water equivalent)': 'rainfall'
                                          })

In [50]:
# Assuming 'datetime' column is in datetime format
ithaca_data['datetime'] = pd.to_datetime(ithaca_data['datetime'])

# Extract date from datetime and set it as index
ithaca_data['date'] = ithaca_data['datetime'].dt.date
ithaca_data.set_index('date', inplace=True)

# Define aggregation functions for each column
agg_functions = {'temperature': 'mean',
                 'dewpoint_temperature': 'mean',
                 'relative_humidity': 'mean',
                 'cloud_cover': 'mean',
                 'precipitation': 'sum'}

# Group by date and apply aggregation functions
daily_ithaca_data = ithaca_data.groupby('date').agg(agg_functions)

# Reset the index to get 'date' back as a column
daily_ithaca_data.reset_index(inplace=True)


daily_ithaca_data

,date,temperature,dewpoint_temperature,relative_humidity,cloud_cover,precipitation
0,2005-01-01,5.793333,1.602917,0.747083,0.633333,0.69
1,2005-01-02,0.222500,-2.469583,0.821667,0.902500,1.98
2,2005-01-03,4.257500,3.196667,0.927500,0.997500,5.18
3,2005-01-04,2.041250,1.375833,0.953333,0.997917,10.04
4,2005-01-05,-0.984583,-3.369167,0.839583,1.000000,3.77
...,...,...,...,...,...,...
6569,2022-12-27,-6.364167,-9.941250,0.758750,0.853750,0.36
6570,2022-12-28,-1.111250,-5.182917,0.752083,0.885417,0.00
6571,2022-12-29,3.182917,-2.744167,0.659583,0.574167,0.00
6572,2022-12-30,8.702917,3.053333,0.682500,0.806250,0.10
6573,2022-12-31,8.041667,5.628750,0.850417,1.000000,2.35

In [51]:
daily_ithaca_data.precipitation.describe()

count    6574.000000
mean        3.192536
std         6.213442
min         0.000000
25%         0.020000
50%         0.710000
75%         3.390000
max        96.420000
Name: precipitation, dtype: float64

In [52]:
# round down to 0 if precipitation is less than 1 mm
daily_ithaca_data['precipitation'] = daily_ithaca_data['precipitation'].apply(lambda x: max(0, 0 if x < 1 else x))

In [53]:
daily_ithaca_data.to_csv('datasets/daily_ithaca_data.csv')

In [58]:
daily_ithaca_data['rain_tomorrow'] = (daily_ithaca_data['precipitation'].shift(-1) > 0).astype(int)

In [59]:
daily_ithaca_data.head(50)

,date,temperature,dewpoint_temperature,relative_humidity,cloud_cover,precipitation,rain_tomorrow
0,2005-01-01,5.793333,1.602917,0.747083,0.633333,0.00,1
1,2005-01-02,0.222500,-2.469583,0.821667,0.902500,1.98,1
2,2005-01-03,4.257500,3.196667,0.927500,0.997500,5.18,1
3,2005-01-04,2.041250,1.375833,0.953333,0.997917,10.04,1
4,2005-01-05,-0.984583,-3.369167,0.839583,1.000000,3.77,1
5,2005-01-06,-2.617083,-4.100000,0.897917,1.000000,22.30,0
6,2005-01-07,-1.189583,-5.477083,0.730833,0.920000,0.00,1
7,2005-01-08,-1.250833,-3.677500,0.842083,0.997083,15.28,0
8,2005-01-09,-2.109583,-3.741667,0.887083,0.921667,0.00,1
9,2005-01-10,1.045000,-1.762500,0.817917,0.773333,1.30,1
10,2005-01-11,-1.792083,-4.007917,0.849583,0.952917,5.88,1
11,2005-01-12,0.249167,-0.795833,0.926667,1.000000,8.94,0
12,2005-01-13,7.036667,6.189583,0.943750,0.997917,0.00,1
13,2005-01-14,3.905417,1.663750,0.857500,0.996667,24.48,0
14,2005-01-15,-6.632917,-12.241250,0.648750,0.529583,0.00,0
15,2005-01-16,-6.910000,-10.466250,0.759167,0.875833,0.00,1
16,2005-01-17,-8.680833,-11.093750,0.830000,0.905833,2.36,1
17,2005-01-18,-15.552500,-19.606250,0.712083,0.925417,2.49,1
18,2005-01-19,-14.015000,-17.419583,0.757500,0.941250,2.01,1
19,2005-01-20,-9.200000,-12.031250,0.801250,0.928333,2.67,0
20,2005-01-21,-16.676667,-20.263333,0.740000,0.864583,0.00,1
21,2005-01-22,-20.612083,-23.230000,0.797917,0.805417,9.36,1
22,2005-01-23,-14.950417,-18.018333,0.776250,0.952917,5.97,1
23,2005-01-24,-13.915833,-17.977917,0.720417,0.667083,1.13,1
24,2005-01-25,-6.634583,-10.708750,0.733750,0.872083,1.47,1
25,2005-01-26,-6.300833,-9.323333,0.795000,0.989583,7.95,0
26,2005-01-27,-16.002083,-20.846667,0.666250,0.571250,0.00,0
27,2005-01-28,-16.349167,-21.055000,0.681667,0.235833,0.00,0
28,2005-01-29,-11.032500,-17.966250,0.585417,0.567083,0.00,0
29,2005-01-30,-4.546667,-10.057917,0.662083,0.692917,0.00,0
30,2005-01-31,-8.213333,-12.450833,0.731250,0.168750,0.00,0
31,2005-02-01,-8.803333,-13.443750,0.704583,0.177083,0.00,0
32,2005-02-02,-7.745417,-12.548333,0.712083,0.050833,0.00,0
33,2005-02-03,-2.059167,-8.910000,0.607917,0.942500,0.00,0
34,2005-02-04,0.069583,-3.382500,0.787500,0.575833,0.00,0
35,2005-02-05,-1.655417,-4.920000,0.795833,0.130833,0.00,0
36,2005-02-06,-0.354583,-5.332083,0.720000,0.125417,0.00,0
37,2005-02-07,3.882083,-3.201250,0.615000,0.994167,0.00,1
38,2005-02-08,3.870000,-0.498750,0.737083,0.999167,6.99,1
39,2005-02-09,1.496667,0.344583,0.920833,0.993750,3.89,1
40,2005-02-10,-3.024583,-4.720000,0.881250,0.996250,7.30,0
41,2005-02-11,-5.393333,-9.985000,0.711250,0.324167,0.00,1
42,2005-02-12,-2.114583,-4.853333,0.816250,0.878333,2.65,0
43,2005-02-13,-5.256667,-9.511667,0.725833,0.660000,0.00,1
44,2005-02-14,-2.703333,-7.340417,0.710417,0.988333,2.75,1
45,2005-02-15,4.850000,1.085417,0.776667,0.829167,4.91,1
46,2005-02-16,3.291667,0.780833,0.838333,0.946250,8.08,1
47,2005-02-17,-2.747500,-7.144583,0.722500,0.721250,1.38,0
48,2005-02-18,-8.838333,-12.952500,0.725833,0.719583,0.00,0
49,2005-02-19,-11.385833,-15.344583,0.738750,0.556250,0.00,0