In [2]:
# setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
# import seaborn as sns
import os
%matplotlib inline

In [3]:
# option 1 for data: https://www.visualcrossing.com/weather/weather-data-services#
houstonWeather = "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/Houston%2CTX/2015-12-01/2023-11-23?unitGroup=us&key=YOUR_API_KEY&contentType=json"
# use API to get json/csv, might need account?

In [6]:
# option 2: Use imported csvs (see datasets folder)
dataTest = pd.read_csv('datasets/htx_2006_weather.csv') 
dataTest.head()

,date,min_temp,max_temp,rainfall,wind_speed9am,wind_speed3pm,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,rain_today,rain_tomorrow
0,2006-01-01,64.0,81.0,0.0,8.0,14.0,90.0,54.0,29.77,29.65,Cloudy,Partly Cloudy,71.0,81.0,No,No
1,2006-01-02,57.0,79.0,0.0,9.0,10.0,87.0,22.0,29.91,29.89,Partly Cloudy,Fair,63.0,78.0,No,No
2,2006-01-03,49.0,79.0,0.0,0.0,10.0,60.0,24.0,30.07,29.98,Fair,Fair,60.0,79.0,No,No
3,2006-01-04,52.0,76.0,0.0,7.0,7.0,87.0,60.0,30.06,29.97,Mostly Cloudy,Mostly Cloudy,65.0,75.0,No,No
4,2006-01-05,51.0,69.0,0.0,16.0,23.0,42.0,21.0,30.2,30.13,Fair,Fair / Windy,57.0,68.0,No,No

In [12]:
df_06 = pd.read_csv('datasets/htx_2006_weather.csv') 
df_10 = pd.read_csv('datasets/htx_2010_weather.csv') 
df_12 = pd.read_csv('datasets/htx_2012_weather.csv') 
df_15 = pd.read_csv('datasets/htx_2015_weather.csv') 

data = pd.concat([df_06, df_10, df_12, df_15])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1461 entries, 0 to 364
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   min_temp       1461 non-null   float64
 2   max_temp       1461 non-null   float64
 3   rainfall       1461 non-null   float64
 4   wind_speed9am  1461 non-null   object
 5   wind_speed3pm  1461 non-null   object
 6   humidity9am    1461 non-null   object
 7   humidity3pm    1461 non-null   object
 8   pressure9am    1461 non-null   object
 9   pressure3pm    1461 non-null   object
 10  cloud9am       1461 non-null   object
 11  cloud3pm       1461 non-null   object
 12  temp9am        1461 non-null   object
 13  temp3pm        1461 non-null   object
 14  rain_today     1461 non-null   object
 15  rain_tomorrow  1461 non-null   object
dtypes: float64(3), object(13)
memory usage: 194.0+ KB

In [14]:
#split data into train test 
train_df = data[:956]
val_df = data[956: 1200]
test_df = data[1200:]

In [15]:
input_cols = list(train_df.columns)[1:-1]
target_col = 'rain_tomorrow'

In [16]:
# Train data
train_inputs = train_df[input_cols].copy()
train_targets = train_df[target_col].copy()

# Val data
val_inputs = val_df[input_cols].copy()
val_targets = val_df[target_col].copy()

# Test data
test_inputs = train_df[input_cols].copy()
test_targets = train_df[target_col].copy()