In [2]:
# setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
# import seaborn as sns
import os
%matplotlib inline

In [3]:
# option 1 for data: https://www.visualcrossing.com/weather/weather-data-services#
houstonWeather = "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/Houston%2CTX/2015-12-01/2023-11-23?unitGroup=us&key=YOUR_API_KEY&contentType=json"
# use API to get json/csv, might need account?

In [5]:
# option 2: Use imported csvs (see datasets folder)
data = pd.read_csv('datasets/htx_2006_weather.csv') 
data.head()

,date,min_temp,max_temp,rainfall,wind_speed9am,wind_speed3pm,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,rain_today,rain_tomorrow
0,2006-01-01,64.0,81.0,0.0,8.0,14.0,90.0,54.0,29.77,29.65,Cloudy,Partly Cloudy,71.0,81.0,No,No
1,2006-01-02,57.0,79.0,0.0,9.0,10.0,87.0,22.0,29.91,29.89,Partly Cloudy,Fair,63.0,78.0,No,No
2,2006-01-03,49.0,79.0,0.0,0.0,10.0,60.0,24.0,30.07,29.98,Fair,Fair,60.0,79.0,No,No
3,2006-01-04,52.0,76.0,0.0,7.0,7.0,87.0,60.0,30.06,29.97,Mostly Cloudy,Mostly Cloudy,65.0,75.0,No,No
4,2006-01-05,51.0,69.0,0.0,16.0,23.0,42.0,21.0,30.2,30.13,Fair,Fair / Windy,57.0,68.0,No,No